node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/.github/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/monaco-editor/**
node_modules/react/**
node_modules/react-dom/**
node_modules/zustand/**
src/**
scripts/**
tsconfig.json
esbuild.config.mjs
.gitignore
.github/**
.claude/**
docs/**
README.dev.md
README.marketplace.md
README.zh_CN.md
